.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.background-position {
	width: 100vmin;
	height: 100vmin;
	background-color: aqua;
	overflow: hidden;
	top: 50%;
	left: 50%;
}

.centre {
	transform: translate(-50%, -50%);
	position: absolute;
}
